.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  list-style-type: none;
  padding: 20px 70px;
  overflow: hidden;
}

.card-list_active {
  box-shadow: 1px 1px 5px #4a6b79;
  border-radius: 15px;
  height: calc(100vh - 136px - 150px - 50px);
  width: 40%;
  overflow-y: auto;
}

.card-list_active::-webkit-scrollbar {
  width: 10px;
}
.card-list_active:::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.card-list_active::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}
.card-list_active::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card-list_active::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

.card-list_active::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
