.header {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  padding: 10px 20px;
}

.header__link {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__title {
  font-size: 38px;
  flex-grow: 1;
  text-align: center;
}
