.detail {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  width: 40%;
  height: calc(100vh - 136px - 150px - 50px);
  box-shadow: 1px 1px 5px #4a6b79;
  border-radius: 15px;
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  border: none;
  background-color: transparent;
  font-size: 32px;
  transition: transform 0.3s ease;
}

.close-btn:hover {
  transform: scale(1.2);
}

.detail__title {
  font-size: 28px;
  margin: 0 0 20px;
}

.detail__image {
  width: 200px;
  height: 200px;
  margin: 0 0 20px;
}

.abilities {
}

.abilities__title {
  text-align: center;
  margin-bottom: 10px;
}

.ability {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ability__title {
  background-color: #9952e5;
  padding: 10px;
  border-radius: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: 60%;
}
.stats__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
